/* Encabezado de la página "Eventos" */
.header3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh !important;
    background: url(img/chico_lan.jpg) no-repeat center;
    background-size: cover;  /* Ajusta la imagen de fondo */
}

/* Contenedor de la sección "Eventos" */
.events {
    background-color: #1d1d1d;
    padding: 30px;
}

/* Estilos para el artículo "Eventos" */
.events-description {
    margin-bottom: 40px;
}
.titleh3{
    color: #FCBF00;
}
.ul-event{
    color: #FCBF00;
}

.evento h3 {
    color: #FCBF00;
    font-size: 24px;
    margin-bottom: 20px;
}

.evento p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 100px;
}



/* Estilos para la galería de imágenes de "Eventos" */
.events-gallery{
    display: flex;
    justify-content: space-between;
}


.video{
    background: url(img/lan_parti_lleida.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 15px;
}

/* Estilos para el contenedor del video */
.video-container {
    margin: 20px ;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px; /* Espacio superior para separar el video del texto */
}
.video-container video {
    max-width: 52rem; /* Asegurarse de que el video sea responsive */
    height: auto; /* Mantener la proporción del video */
    display: inline-block; /* Para que el video sea inline y se pueda centrar con text-align */
    border-radius: 8px; /* Bordes redondeados para el video */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera para darle profundidad */
    
}

/* Estilos para los controles de video
video::-webkit-media-controls {
    background-color: rgba(0, 0, 0, 0.7); Fondo semi-transparente para los controles
}

video::-webkit-media-controls-play-button,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
    color: #FCBF00; Color de los controles
} */

/* Estilos para los controles de video al hacer hover */
video:hover::-webkit-media-controls {
    background-color: rgba(0, 0, 0, 0.9); /* Fondo más oscuro al hacer hover */
}

.image-gallery {
    width: 16rem;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-right: 40px;  /* Aumenta el margen derecho */
}

