/* Encabezado de la página "Equipos" */
.header3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh !important;
    background: url(img/chico_lan.jpg) no-repeat center;
    background-size: cover;  /* Ajusta la imagen de fondo */
}

/* Contenedor de la seccion "Equipos"*/

.equipos{
    background-color: #1d1d1d;
    padding: 30px;
}

.titleh3{
    color: #FCBF00;
    padding-bottom: 30px;
    font-size: 25px;
}

.ul-equipos a{
    display: block;
    padding: 20px 20px;
    color: #FCBF00;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.ul-equipos ul {
    list-style-type: none; /* Elimina los puntos (viñetas) de la lista */
    padding-left: 0px; /* Elimina el padding izquierdo que tienen por defecto las listas */
    display: flex;
    justify-content: center;
}
.ul-equipos li:hover {
    background-color: #333; /* Cambia el color de fondo al pasar el ratón */
    border-radius: 5px; /* Añade esquinas redondeadas */
    padding: 5px 10px; /* Añade espacio alrededor del texto */
}

/* Contenedor de la sección "Equipo titular" */
.titular {
    background: url(img/lan_parti_lleida.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;
}

/* Estilos para el artículo "equipo titular" */
.equipo-description-titular {
    margin-bottom: 40px;
}

 #img-equipo {
    /* Eliminamos el padding-right */
    padding-right: 150px;
    width: calc(600px - 150px); /* Ajustamos el ancho de la imagen */
    width: 600px;
    /* border: solid #FCBF00 1px ; */
} 

#parrafo-equipotitular-ex {
    /* Ajustamos el texto a la derecha */
    flex-grow: 1; /* Permite que el párrafo crezca */
    margin-left: 20px; /* Agregamos un margen a la izquierda para separarlo del video */
    text-align: justify;
    font-size: 18px;
}

.audiovisual-titular {
    display: flex;
    /*align-items: center;*/ /*Centra verticalmente los elementos*/ /*IMPORTANTE TENGO QUE MIRARLO*/
    padding-bottom: 30px;
}

/* Estilo adicional para la alineación del texto */
.audiovisual-titular p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
}

/* Contenedor de la sección "Equipo Nextlvl" */
.nextlvl {
    background-color: #1d1d1d;
    padding: 30px;
    padding-top: 150px;
    padding-bottom: 100px;
}

/* Estilos para el artículo "Eventos" */
.equipo-description-nextlvl {
    margin-bottom: 40px;
}

 #img-equipo-nextlvl {
    /* Eliminamos el padding-right */
    padding-left: 120px;
    width: calc(600px - 120px); /* Ajustamos el ancho de la imagen */
    width: 600px;
    /* border: solid #FCBF00 1px ; */
} 

#parrafo-nextlvl-ex {
    /* Ajustamos el texto a la derecha */
    flex-grow: 1; /* Permite que el párrafo crezca */
    margin-left: 20px; /* Agregamos un margen a la izquierda para separarlo del video */
    text-align: justify;
    font-size: 18px;
}

.audiovisual-nextlvl {
    display: flex;
    /*align-items: center;*/ /*Centra verticalmente los elementos*/ /*IMPORTANTE TENGO QUE MIRARLO*/
    padding-bottom: 30px;
}

/* Estilo adicional para la alineación del texto */
.audiovisual-nextlvl p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
}


/* Contenedor de la sección "Equipo valorant" */
.valo {
    background: url(img/valoteam.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;
}

/* Estilos para el artículo "Eventos" */
.equipo-description-valo {
    margin-bottom: 40px;
}

 #img-equipo-valo {
    /* Eliminamos el padding-right */
    padding-right: 150px;
    width: calc(600px - 150px); /* Ajustamos el ancho de la imagen */
    width: 600px;
    /* border: solid #FCBF00 1px ; */
} 

#parrafo-valo-ex {
    /* Ajustamos el texto a la derecha */
    flex-grow: 1; /* Permite que el párrafo crezca */
    margin-left: 20px; /* Agregamos un margen a la izquierda para separarlo del video */
    text-align: justify;
    font-size: 18px;
}

.audiovisual-valo {
    display: flex;
    /*align-items: center;*/ /*Centra verticalmente los elementos*/ /*IMPORTANTE TENGO QUE MIRARLO*/
    padding-bottom: 30px;
}

/* Estilo adicional para la alineación del texto */
.audiovisual-valo p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
}

/* Contenedor de la sección "Equipo academy" */
.academy {
    background-color: #171717;
    padding: 30px;
    padding-top: 150px;
    padding-bottom: 100px;
}

/* Estilos para el artículo "Eventos" */
.equipo-description-academy {
    margin-bottom: 40px;
}

 #img-equipo-academy {
    /* Eliminamos el padding-right */
    padding-left: 120px;
    width: calc(600px - 120px); /* Ajustamos el ancho de la imagen */
    width: 600px;
    /* border: solid #FCBF00 1px ; */
} 

#parrafo-academy-ex {
    /* Ajustamos el texto a la derecha */
    flex-grow: 1; /* Permite que el párrafo crezca */
    margin-left: 20px; /* Agregamos un margen a la izquierda para separarlo del video */
    text-align: justify;
    font-size: 18px;
}

.audiovisual-academy {
    display: flex;
    /*align-items: center;*/ /*Centra verticalmente los elementos*/ /*IMPORTANTE TENGO QUE MIRARLO*/
    padding-bottom: 30px;
}

/* Estilo adicional para la alineación del texto */
.audiovisual-academy p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
}
