/* Encabezado de la página "Eventos" */
.header3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh !important;
    background: url(img/chico_lan.jpg) no-repeat center;
    background-size: cover;  /* Ajusta la imagen de fondo */
}

/* Contenedor de la sección "Eventos" */
.events {
    background-color: #1d1d1d;
    padding: 30px;
}

/* Estilos para el artículo "Eventos" */
.events-description {
    margin-bottom: 40px;
}
.titleh3{
    color: #FCBF00;
    padding-bottom: 30px;
    font-size: 25px;
}
.ul-event{
    color: #FCBF00;
}

.ul-event ul {
    list-style-type: none; /* Elimina los puntos (viñetas) de la lista */
    padding-left: 0; /* Elimina el padding izquierdo que tienen por defecto las listas */
}


.events p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 100px;
}



/* Estilos para la galería de imágenes de "Eventos" */
.events-gallery{
    display: flex;
    justify-content: space-between;
}


/* Contenedor de la sección "Evento LLeida" */
.eventslleida {
    background: url(img/lan_parti_lleida.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;
}

/* Estilos para el artículo "Eventos" */
.events-description-lleida {
    margin-bottom: 40px;
}

#video-lleida {
    /* Eliminamos el padding-right */
    padding-right: 90px;
    /* Ajustamos el tamaño del video */
    flex-shrink: 0; /* Evita que el video se contraiga */
}

#parrafo-lleida-ex {
    /* Ajustamos el texto a la derecha */
    flex-grow: 1; /* Permite que el párrafo crezca */
    margin-left: 20px; /* Agregamos un margen a la izquierda para separarlo del video */
    text-align: justify;
    font-size: 18px;
}

.audiovisual-lleida {
    display: flex;
    /*align-items: center;*/ /*Centra verticalmente los elementos*/ /*IMPORTANTE TENGO QUE MIRARLO*/
    padding-bottom: 30px;
}

/* Estilo adicional para la alineación del texto */
.audiovisual-lleida p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
}


/* Contenedor de la sección "Martorell" */

.martorell{
    background-color: #171717;
    padding-top: 40px;
    padding-top: 150px;
    padding-bottom: 100px;
}

/*Estilos para el articulo "martorell"*/

.events-description-martorell{
    margin-bottom: 40px;

}

#video-martorell{
    padding-left: 120px;
    flex-shrink: 0;

}

#parrafo-martorell-ex{
    flex-grow: 1;
    margin-right: 30px;
    text-align: justify;
    font-size: 18px;

}

.audiovisual-martorell{
    display: flex;
    padding-bottom: 30px;

}

/* Estilo adicional para la alineación del texto */
.audiovisual-martorell p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
}


/* Contenedor de la sección "Evento saga" */
.eventssaga {
    background: url(img/loschulis2.png) no-repeat center;
    /* background-attachment: fixed; */
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;
}

/* Estilos para el artículo "Eventos saga" */
.events-description-saga {
    margin-bottom: 40px;
}

#video-saga {
    /* Eliminamos el padding-right */
    padding-right: 90px;
    /* Ajustamos el tamaño del video */
    flex-shrink: 0; /* Evita que el video se contraiga */
}

#parrafo-saga-ex {
    /* Ajustamos el texto a la derecha */
    flex-grow: 1; /* Permite que el párrafo crezca */
    margin-left: 20px; /* Agregamos un margen a la izquierda para separarlo del video */
    text-align: justify;
    font-size: 18px;
}

.audiovisual-saga {
    display: flex;
    /*align-items: center;*/ /*Centra verticalmente los elementos*/ /*IMPORTANTE TENGO QUE MIRARLO*/
    padding-bottom: 30px;
}

/* Estilo adicional para la alineación del texto */
.audiovisual-saga p {
    margin: 0; /* Elimina el margen por defecto del párrafo */

}

/* Estilos para los controles de video
video::-webkit-media-controls {
    background-color: rgba(0, 0, 0, 0.7); Fondo semi-transparente para los controles
}

video::-webkit-media-controls-play-button,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
    color: #FCBF00; Color de los controles
} */

/* Estilos para los controles de video al hacer hover */
video:hover::-webkit-media-controls {
    background-color: rgba(0, 0, 0, 0.9); /* Fondo más oscuro al hacer hover */
}

.image-gallery {
    width: 16rem;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-right: 40px;  /* Aumenta el margen derecho */
}

